.header {
	width: 1052px;
	height: 105px;
	margin: 92px auto 96px;
	padding: 0 28px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.18px;
}
.header__menu {
	justify-self: start;
}
.header__menu-list {
	display: flex;
	gap: 13px;
}
.header__menu-item {
	text-decoration: underline;
}
.header__menu-item_active {
	text-decoration: none;
}
.header__menu-link {
	color: #000;
}
.header__menu-list-marker {
	display: block;
	width: 7px;
	height: 7px;
}

.header__logo {
	justify-self: center;
}

.header__logo-image {
	width: 148px;
	height: 105px;
}
.header__contacts-list {
	width: 240px;
	justify-self: end;
}

.header__contacts-item {
	text-decoration: underline;
	line-height: 24.3px;
}

.header__contacts-item:last-of-type {
	text-decoration: none;
}

